/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body{
  background-color: pink;
  height: 310vh;
}
header{
  background-color: blue;
  height: 13vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0px;
}
#slider{
  margin-top: 18vh;
  margin-left: 15%;
  height: 70vh;
  width: 70%;
  overflow: hidden;
  position: relative;
}
#jsOff {
  border: 1px solid;
  background-color: grey;
  width: 638px;
}
#images {
  display: flex;
  position: relative;
  right: 2664px; /* 2 x picture leng */
}
#left {
  display: none;
  position: absolute;
  top: 48%;
}
#right {
  display: none;
  position: absolute;
  top: 48%;
  left: 1282px;
}
#radiobox {
  display: none;
  position: absolute;
  top: 95%;
  left: 616px;
}
input[type="radio"] {
  accent-color: red;
}
main{
  margin-top: 5vh;
  height: 200vh;
  margin-left: 15%;
  background-color: green;
  width: 70%;
}

#article1{
  grid-area: one;
  background-color: aqua;
}

#mel1{
  grid-area: mel;
  background-color: pink;
}

#article2 {
  grid-area: two;
  background-color: aqua;
}
#mel2 {
  grid-area: melo;
  background-color: pink;
}

#article3 {
  grid-area: three;
  background-color: aqua;
}

#imga1{
  grid-area: aone;
  background-color: blueviolet;
}
#imga2 {
  grid-area: atwo;
  background-color: blueviolet;
}
#imga3 {
  grid-area: athree;
  background-color: blueviolet;
}

#rub1{
  grid-area: rone;
  background-color: beige;
}
#rub2 {
  grid-area: rtwo;
  background-color: beige;
}
#rub3 {
  grid-area: rthree;
  background-color: beige;
}





#wrapperMain {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  grid-template-rows: 5% 9% 9% 9% 2% 5% 9% 9% 9% 2% 5% 9% 9% 9%;

  grid-template-areas:
  "aone aone aone rone rone rone"
  "aone aone aone one one one"
  "aone aone aone one one one"
  "aone aone aone one one one"
  "mel mel mel mel mel mel"
  "rtwo rtwo rtwo atwo atwo atwo"
  "two two two atwo atwo atwo"
  "two two two atwo atwo atwo"
  "two two two atwo atwo atwo"
  "melo melo melo melo melo melo"
  "athree athree athree rthree rthree rthree"
  "athree athree athree three three three"
  "athree athree athree three three three"
  "athree athree athree three three three";



}

footer{
  margin-top: 5vh;
  height: 30vh;
  background-color: cyan;
}

