/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body{
  font-family: 'MedievalSharp', cursive;
  background-color: rgb(16, 21, 51);
  height: 310vh;
}
header{
  background-image: url(../imgfolder/navBack.jpg);
  height: 13vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0px;
}
nav{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 800;
}
#logoDiv{
  height: 123px;
  width: 123px;
}
#pageName{
  align-self: center;
  justify-self: center;
  font-size: 72px;
  color: #f2ca82;
  text-rendering: auto;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
  font-size: 250%;
}
#articleBox{
  font-weight: 800;
  width: 150px;
  height: 50px;
  text-align: center;
  border-radius: 40px;
  color: #f2ca82;
  background-color: #091d38;
  border: 2px solid #f2ca82;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}
#articleBox:hover{
  background-color: #f2ca82;
  color:#091d38;
  border: 2px solid #091d38;
}
#articleNav {
  text-decoration: none;
  font-size: 150%;
  margin-top: 8.9%;
  width: 100%;
  height: 100%;
}
#articleSlideDown {
  display: none;
  margin-top: -8%;
  height: 144px;
  margin-left: -50%;
  width: 204%;
  color: #f2ca82;
  background-color: #091d38;
  border: 2px solid #f2ca82;
  text-shadow: inherit;
}
.art{
  padding: 5px 0px 0px 0px;
  font-size: 130%;
}
.art:hover{
  background-color: #f2ca82;
  color: #091d38;
  border: 2px solid #091d38;
  overflow: hidden;
}
#slider{
  margin-top: 18vh;
  margin-left: 15%;
  height: 70vh;
  width: 69.9%;
  overflow: hidden;
  position: relative;
}
#jsOff {
  border: 2px solid;
  background-color: rgb(255, 0, 0);
  font-size: 250%;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  width: 50%;
  height: 15%;
  position: fixed;
  display: flex;
  top: 35%;
  left: 25%;
  z-index: 10;
  align-items: center;
  text-align: center;
}
#images {
  display: flex;
  position: relative;
  right: 2664px; /* 2 x picture leng */
}
#left {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -15px;
}
#right {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1247px;
}
#radiobox {
  display: none;
  position: absolute;
  top: 95%;
  left: 600.5px;
}
input[type="radio"]{ 
  appearance:unset;
  padding: 8px;
  background-color: #091d38;
  border-radius: 50%;
}
input[type=radio]:checked {
  background-color: #f2ca82;
}
main{
  margin-top: 5vh;
  height: 200vh;
  margin-left: 15%;
  background-color: transparent;
  width: 70%;
}

#article1{
  grid-area: one;
  background-color: rgb(255, 255, 255);
  font-size: x-large;
  padding: 5%;
  line-height: 150%;
  color: rgb(0, 0, 0);
}

#mel1{
  grid-area: mel;
  background-color: transparent;
}

#article2 {
  grid-area: two;
  background-color: rgb(255, 255, 255);
  font-size: x-large;
  padding: 5%;
  line-height: 150%;
  color: rgb(0, 0, 0);
}
#mel2 {
  grid-area: melo;
  background-color: transparent;
}

#article3 {
  grid-area: three;
  background-color: rgb(255, 255, 255);
  font-size: x-large;
  padding: 5%;
  line-height: 150%;
  color: rgb(0, 0, 0);
}
#imga1{
  grid-area: aone;
}
#imga2 {
  grid-area: atwo;
}
#imga3 {
  grid-area: athree;
}
#rub1{
  grid-area: rone;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}
#rub2 {
  grid-area: rtwo;
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: xx-large;
}
#rub3 {
  grid-area: rthree;
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: xx-large;
}
#wrapperMain {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 5% 9% 9% 9% 2% 5% 9% 9% 9% 2% 5% 9% 9% 9%;
  grid-template-areas:
  "aone aone aone rone rone rone"
  "aone aone aone one one one"
  "aone aone aone one one one"
  "aone aone aone one one one"
  "mel mel mel mel mel mel"
  "rtwo rtwo rtwo atwo atwo atwo"
  "two two two atwo atwo atwo"
  "two two two atwo atwo atwo"
  "two two two atwo atwo atwo"
  "melo melo melo melo melo melo"
  "athree athree athree rthree rthree rthree"
  "athree athree athree three three three"
  "athree athree athree three three three"
  "athree athree athree three three three"
}

footer{
  margin-top: 5vh;
  height: 30vh;
  background-color: rgb(51, 63, 105);
}

#fotext{
  font-size: xx-large;
  background-color: #f2ca82;
}

.fot{
  font-size: x-large;
  color: #f2ca82;
  margin-top: 15px;
  margin-left: 5px;
}